@import "tailwindcss";

@theme inline {
  --color-primary: #111111; /* Deep Charcoal */
  --color-secondary: #F6F3EC; /* Warm Ivory */
  --color-accent: #C6A15B; /* Champagne Gold */
  --color-supporting: #123E3B; /* Deep Green */
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: var(--color-secondary);
  --foreground: var(--color-primary);
}

.dark {
  --background: var(--color-primary);
  --foreground: var(--color-secondary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
